.page {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Mazzard L', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    margin: 0;
    background-color: rgb(230, 204, 219);
    
}
