.cards__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1155px) {
    .card__list {
        margin: auto;
    }
}