.about__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 800px;
}

@media screen and (max-width: 920px) {
    .about__container {
        max-width: 500px;
        
    }
}

@media screen and (max-width: 786px) {
    .about__container {
        max-width: 350px;
        
    }
}

@media screen and (max-width: 595px) {
    .about__container {
        max-width: 300px;
        
    }
}


@media screen and (max-width: 500px) {
    .about__container {
        max-width: 220px;
        
    }
}

@media screen and (max-width: 375px) {
    .about__container {
        max-width: 200px;
        
    }
}